body,html {
  color: goldenrod;
  background: black;
  background-image: url('/stars.gif');
  text-align: center;
}

#panel {
  margin: 0 auto; 
  max-width: 800px;
  border: 3px solid #787032;
  outline: 4px double #0f4a0f;
  padding: 32px;
  background: #101f21;
  height: 100%;
  margin-top: 48px;
  margin-bottom: 16px;
}
h1 {
  margin-top: 0;
  margin-bottom: 32px;
}
h1 img {
  height: 22px;
}
table {
  border: 1px solid #787032;
  margin: 0 auto; 
}
th, td {
  border: 1px solid #787032;
  padding: 4px 6px;
}
th, td:first-child {
  text-transform: uppercase;
  color: #787032;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.left a, .left a:visited {
  color: goldenrod;
}
.positive td.right {
 color: #29b529;
}

.positive td.change::before {
  content: '+';
}
.negative td.right {
  color: #d42a2a;
}

.pagination {
  margin-top: 16px;
  margin-bottom: -12px;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
}
.pagination a, .pagination span {
  margin: 0 4px;
  color: #787032;
}

.coingecko, .coingecko a, .coingecko a:visited {
  color: #787032;
}
.coingecko img {
  display: inline-block;
  height: 16px;
  position: relative;
  top: 3px;
}

@media screen and (max-width: 992px) {
  .no-mobile {
    display: none;
  }
  h1 {
    margin: 16px 0;
  }
  #panel {
    padding: 2px;
  }
  .pagination {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 993px) {
  .no-desktop {
    display: none;
  }
}
